@{
    ViewBag.Title = "Welcome";
}

<header class="jumbotron">
    <div class="container">
        <img class="img-circle pull-left"
             src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             width="157" height="157" />
        <div>
            <h1>Welcome</h1>
            <p class="lead">
                Follow the links for information about our buildings and conference rooms.
            </p>
        </div>
    </div>
</header>

<main class="container">
    <div class="row">
        <div class="col-sm-6 text-center">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 width="124" height="124" />
            <h2>Buildings</h2>
            <p>Addresses, contact info, layouts, &hellip;</p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("List", "Building")">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> View all
                </a>
                <a class="btn btn-default" href="@Url.Action("Create", "Building")">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new
                </a>
            </p>
        </div>
        <div class="col-sm-6 text-center">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 width="124" height="124" />
            <h2>Conference Rooms</h2>
            <p>Locations, A/V capabilities, capacities, &hellip;</p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("List", "ConferenceRoom")">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> View all
                </a>
                <a class="btn btn-default" href="@Url.Action("Create", "ConferenceRoom")">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new
                </a>
            </p>
        </div>
    </div>
</main>
